.button
{
    color:white;
    border:none;
   
   
    font-size: 12px;
    padding:3px;
    width: 50px;
    height: 25px;
    margin-left: 10px;
    border: 1px solid #475c90;
    font-weight: bold;

    
    
    outline: none;
    background-color: #345492   ;
}
.button:hover
{
    background-color: #415e9e;
    

} 
.grad{
    height:300;
    background-color: #dfe3ee;
    background-image: linear-gradient(to top ,#dfe3ee,#f7f7f7)


}